/format-handlers/src/test/resources/tables/airtravelTest.csv
/format-handlers/src/test/resources/tables/biostatsTest.csv
/format-handlers/src/test/resources/tables/crash_cataloniaTest.csv
/format-handlers/src/test/resources/tables/hookeTest.csv
/format-handlers/src/test/resources/tables/tally_cabTest.csv
